@import url('https://fonts.googleapis.com/css?family=Cantata+One&display=swap')
@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swap')
@import url('https://fonts.googleapis.com/css?family=Roboto:500i&display=swap&subset=cyrillic')
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap')

.modal_content
  width: 60%
  background-color: #ffffff
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  .wrap_for_title
    display: flex
    position: relative
    .title
      font-family: 'Cantata One', 'Vollkorn', serif
      width: 40%
    .article_image
      position: relative
      margin-top: -150px
      margin-left: -150px
      width: 70%
      img
        width: 100%
  .description
    font-family: 'Vollkorn', sans-serif
    font-size: 20px
  .article_footer
    display: flex
    justify-content: space-between
    width: 100%
    font-size: 1.1rem
    .author
      color: rgba(255,101,2,1)
      font-family: 'Fjalla', sans-serif
      margin: 0
    .publish_date
      font-family: 'Fjalla One', sans-serif
      margin: 0

