.none {
    display: none;
}

body {
    font-family: sans-serif;
}

p {
    margin: 0 0 5px;
}

.article {
    list-style: none;
    background: #fff;
    border: 1px solid rgba(0, 89, 181, 0.82);
    width: 600px;
    margin: 0 0 5px;
}

.news__author {
    text-decoration: underline;
    color: #007ddc;
}
.news__count {
    margin: 10px 0 0 0;
    display: block;
}
.test-input {
    margin: 0 5px 5px 0;
}

.add {
    margin: 0 5px 5px 0;
    width: 40%;
    border: 1px dashed rgba(0, 89, 181, 0.82);
    padding: 5px;
}
.add__author,
.add__text,
.add__btn,
.add__checkrule {
    font-size: 16px;
    display: block;
    margin: 0 0 5px 0;
    padding: 5px;
    width: 94%;
    border: 1px solid rgba(0, 89, 181, 0.82);
}
.add__btn {
    box-sizing: content-box;
    color: #fff;
    text-transform: uppercase;
    background: #b0adff;
}
.add__btn:disabled {
    background: #ccc;
    color: #999;
}

.miniWrap{
    display: flex;
    font-size: 16px;
}
.comment{
    width: 90%;
    display: flex;
}
.bt{
    background-color: white !important;
    color: black;
}
.count{
    float: right;
}

