html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

button:active, button:focus {outline: none;}

input, textarea {outline: none;}

.none {display: none;}

.wrapper {
    width: 90vw;
    margin: 30px auto;
}


.navbar_wrapper {
    width: 90vw;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
}

.navbar h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 500;
    font-family: "Times New Roman";
}

.wrapper_links {
    display: flex;
}

.wrapper_links a {
    margin: 0;
    font-size: 24px;
    color: #7a79a9;
}

.wrapper_links a:nth-child(even) {
    margin-left: 30px;
}

.wrapper_header {
    margin: 15px 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    margin: 0 0 0 50px;
    font-size: 70px;
    font-family: serif;
}

.wrapper_header div {
    margin-right: 50px;
    font-size: 22px;
    font-family: monospace;
}

.main_on {width: 63%;}

.main_off {
    width: 95%;
    margin: 0 auto;
}

.add {
    float: right;
    background-color: #eee;
    margin-top: 20px;
    width: 35%;
    border: 1px dashed rgba(0, 89, 181, 0.82);
    padding: 5px;
}

.add h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 31px;
    margin: 19px 0;
    font-weight: 500;
}

.add__author {
    margin: 5px auto 10px;
    font-size: 30px;
    height: 60px;
    width: 98%;
    display: block;
}

.add__text {
    font-size: 24px;
    height: 90px;
    margin: 10px auto 0;
    width: 98%;
    display: block;
}

.add__checkrule {
    font-size: 24px;
    display: inline;
    float: left;
    margin: 10px 15px;
}

.add__checkrule input[type='checkbox'] {
    transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    width: 21px;
}

.add__btn {
    font-size: 16px;
    display: block;
    margin: 0 0 5px 0;
    padding: 5px;
    height: 50px;
    width: 98%;
    border: 1px solid rgba(0, 89, 181, 0.82);
}

.add__btn {
    margin: 5px auto;
    box-sizing: content-box;
    color: #fff;
    text-transform: uppercase;
    background: #b0adff;
    width: 98%;
}

.add__btn:disabled {
    background: #ccc;
    color: #999;
}

.article {
    list-style: none;
    background: #fff;
    border: 1px solid rgba(0, 89, 181, 0.82);
    margin: 0 0 5px;
    transition: .2s;
}

.readen {
    transition: .2s;
    filter: contrast(60%);
}

.author {
    margin: 10px 20px 0;
    font-size: 37px;
    height: 60px;
    width: 98%;
    display: block;
    font-weight: 500;
}

.text {
    font-size: 26px;
    margin: 10px 21px;
    font-family: serif;
}

.add__input {
    font-style: italic;
    width: 96%;
    height: 45px;
    margin: 10px auto;
    display: block;
    font-size: 24px;
}

.miniWrap {
    width: 99%;
    margin: 5px auto;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
}

.bt {
    height: 50px;
    font-family: monospace;
    background-color: white;
    color: black;
    font-size: 24px;
    margin: 0 10px;
    flex: 2;
}

.dif {background: #b0adff !important;}

.count {flex: 1 !important;}

.comment {
    margin: 20px 15px;
    font-size: 24px;
    font-style: italic;
}


.load {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    font-family: monospace;
}

.add__check {
    font-size: 24px;
    display: inline;
    float: right;
    margin: 10px 10px;
}


.add__check input[type='checkbox'] {
    transform: scale(2.5);
    -ms-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    width: 21px;
}

.add__check span {
    font-size: 22px;
    margin-right: 10px;
}


.activeFilter {
    color: #7a79a9;
    text-decoration: underline;
    font-weight: bold;
}


.footer {margin: 30px 0;}

.amount_of_news {
    font-size: 30px;
    font-family: monospace;
}

.form_valid {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.forms {
    border: 1px solid #c6c7cc;
    border-radius: 5px;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    width: 240px;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

input {
    border-radius: 5px;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

.account-info {
    padding: 30px 30px 0 30px;
}

.account-info label {
    color: #395870;
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}

.account-info input {
    background: #fff;
    border: 1px solid #c6c7cc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
    color: #636466;
    padding: 6px;
    margin-top: 6px;
    width: 92%;
}

.account-action {
    background: #f0f0f2;
    border-top: 1px solid #c6c7cc;
    padding: 20px;
}

.account-action .btn {
    background: linear-gradient(#49708f, #293f50);
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    float: left;
    padding: 8px 16px;
}

.account-action label {
    color: #7c7c80;
    font-size: 12px;
    float: left;
    margin: 10px 0 0 20px;
}